# **Step 1: Web Scraping**

## Objectives

In this step, the following will be done:

* Extract information from a given web site 
* Write the scraped data into a csv file.

## Extract information from the given web site
I extract the data from the below web site: <br>

In [1]:
#this url contains the data I need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data I need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in the web broswer and study the contents of the web page before starting to scrape.

I import the required libraries

In [8]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

I download the webpage at the url

In [3]:
data  = requests.get(url).text

I create a soup object

In [4]:
soup = BeautifulSoup(data)

I scrape the `Language name` and `annual average salary`.

In [13]:
#I find a html table in the web page
table = pd.DataFrame(columns={"Language","Average Annual Salary"})

for row in soup.find_all('tr'):
    cols = row.find_all('td')
    language = cols[1].getText() 
    salary = cols[3].getText() 
    print("{}--->{}".format(language,salary))
    table = table.append({"Language": language, "Average Annual Salary": salary}, ignore_index=True)
    table.head()

Language--->Average Annual Salary
Python--->$114,383
Java--->$101,013
R--->$92,037
Javascript--->$110,981
Swift--->$130,801
C++--->$113,865
C#--->$88,726
PHP--->$84,727
SQL--->$84,793
Go--->$94,082

I save the scrapped data into a file named *popular-languages.csv*

In [14]:
df=pd.DataFrame(table,columns=["Language","Average Annual Salary"])
df.drop(df.index[0], inplace=True)
df.to_csv('popular-languages.csv')
df

      Language Average Annual Salary
1       Python              $114,383
2         Java              $101,013
3            R               $92,037
4   Javascript              $110,981
5        Swift              $130,801
6          C++              $113,865
7           C#               $88,726
8          PHP               $84,727
9          SQL               $84,793
10          Go               $94,082

## Next step: Explore data set