# **Step 3: Data Wrangling Lab**

In this assignment I will be performing data wrangling.

## Objectives

In this lab I will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

I import pandas module.

In [24]:
import pandas as pd
import numpy as np

I load the dataset into a dataframe.

In [25]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section I will identify duplicate values in the dataset.

I find how many duplicate rows exist in the dataframe.

In [26]:
len(df)-len(df.drop_duplicates())

154

## Removing duplicates

I remove the duplicate rows from the dataframe.

In [27]:
df.drop_duplicates(inplace = True)

I verify if duplicates were actually dropped.

In [28]:
len(df)-len(df.drop_duplicates())

0

## Finding Missing values

I find the missing values for all columns.

In [29]:
df.isna()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11547,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11548,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11549,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11550,False,False,False,False,False,False,False,False,False,True,...,False,True,False,False,False,False,False,False,False,False
11551,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

I find out how many rows are missing in the column 'WorkLoc'

In [30]:
df["WorkLoc"].isna().sum()
df["EdLevel"].isna().sum()
df["Country"].isna().sum()

0

## Imputing missing values

I find the  value counts for the column WorkLoc.

In [31]:
df["WorkLoc"].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

I identify the value that is most frequent (majority) in the WorkLoc column.

In [32]:
#Office = 6806

I input all the empty rows in the column WorkLoc with the value that I have identified as majority.

In [33]:
df['WorkLoc'].replace(np.nan, "Office", inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

I verify if imputing was successful.

In [34]:
df["WorkLoc"].isna().sum()

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section I will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

I list out the various categories in the column 'CompFreq'

In [35]:
print(df["CompFreq"].value_counts())
print(df["Employment"].value_counts())
print(df["UndergradMajor"].value_counts())

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64
Employed full-time    10968
Employed part-time      430
Name: Employment, dtype: int64
Computer science, computer engineering, or software engineering          6953
Information systems, information technology, or system administration     794
Another engineering discipline (ex. civil, electrical, mechanical)        759
Web development or web design                                             410
A natural science (ex. biology, chemistry, physics)                       403
Mathematics or statistics                                                 372
A business discipline (ex. accounting, finance, marketing)                244
A social science (ex. anthropology, psychology, political science)        210
A humanities discipline (ex. literature, history, philosophy)             207
Fine arts or performing arts (ex. graphic design, music, studio art)      161
I never declared a major                                                  124
A health science (ex. nursing, pharmacy, radiology)                        24
Name: UndergradMajor, dtype: int64

I create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

In [36]:
# your code goes here
df.loc[df["CompFreq"] == "Yearly", "NormalizedAnnualCompensation"] = 1*df["CompTotal"]
df.loc[df["CompFreq"] == "Monthly", "NormalizedAnnualCompensation"] = 12*df["CompTotal"]
df.loc[df["CompFreq"] == "Weekly", "NormalizedAnnualCompensation"] = 52*df["CompTotal"]
df["NormalizedAnnualCompensation"].median()

100000.0

## Next step: Exploratory data analysis